.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(1, 0, 0, 0.3);
  }
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #d35c4c;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #efa298;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }
  
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
  }
  label {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 28px;
  }
  
  input[type="text"] {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  
  button[type="submit"] {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
  }
  